@model LearningDomain.Model.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Курс</h4>
    <a asp-action="Lessons" asp-route-id="@Model?.Id">Уроки курсу</a>
    <a asp-action="Tests" asp-route-id="@Model?.Id">Тести курсу</a>
    <a asp-action="Reviews" asp-route-id="@Model?.Id">Відгуки курсу</a>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> 
    <a asp-action="Index">Повернутися</a>
</div>
